html, body { 

    font-family: arial;
    font-size: 20px;
    background-image: url("../images/xpartearth4.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 80%;
    }
    
p {
    margin: 20px;
}

h2 {
    margin: 20px;
}

h3 {
    margin: 20px;
}

h4 {
    margin: 20px;
}

/******************* Header **********************/

header {
    width: 100%;
    height: relative;
    padding-top: 0px;
    margin: -35px;
    }

    h1 {
    padding: 0px;
    font-family: papyrus;
    font-weight: bold;
    font-size: 3em; 
    text-align: center;       
    float: center;
    
    }
    
    #logo1 {
    padding-bottom: 2px;
    margin-left: 35px;
    width:relative;
    height:110px;
    align-content:top-left;
    float: left;    
    }    
    
    #logo2 {
    padding-bottom: 2px;
    margin-right: -35px;
    width: relatve;
    height: 110px;
    align-content: top-right;
    float: right; 
    }


/******************* Navigation ******************/

nav, ul.navigation {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: limegreen;
    border: width border-style color; 
    float: left;
    
}

ul.navigation {
    height: 100%;
    background-color: limegreen;
    list-style-type: none;
    border: 1px solid black
}

ul.navigation li {
    display: block;
    float: left;
    
    height: 100%;
    width: 11%;

    text-align: center;
    font-size: 0.75em;

    line-height: 50px;
    border-right: 1px solid black;
}

ul.navigation li:last-child {
    border-right: none;
}

a {
    display: block;
    color:white;
    text-decoration: none;
    padding: 8px 8px;   
}

a:hover {
    color:white;
    background-color: black;
}


/*************************** Form ***********************/

.container2 {
    width: 100%;
    margin: 0px;
}

.personalinfo {
    width: 31%;
    float: left;
}

.profile {
    width: 31%;
    float: center;
}

.travelinfo {
    width: 31%; 
    float: right;
}

.personalinfo, .profile, .travelinfo {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;    
}

input {
    width: 100%;
}

label {
    float: left;
    font-weight: bold;
}



/******************* Footer / Photobanner *******************/

.footer {
    bottom: 0;   
    left: 0;   
    width: 100%;
    clear: both;
}

.footer h2 {
    text-align: center;    
    font-family: papyrus;
    float: center;
    padding-top: 50px; 
   
}

.footer h3 {
    text-align: center;   
    font-family: papyrus;    
}

.footer h4 {
    text-align: center;   
    font-family: papyrus;    
}

.footer p {
    text-align: center;    
    margin: 20px; 
}

#container {
    width: 1906px;
    overflow: hidden;
    margin: 0px;
    background: grey;   
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}

.photobanner {
    height: 150px;
    width: 10000px;   
}

.photobanner img {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
    }

.photobanner img:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
               cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/****************** Keyframe Animations *****************/

.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
0%    {
    margin-left: 0px;
}
100%    {
    margin-left: -2125px;
}
}

@-moz-keyframes bannermove {
0%    {
    margin-left: 0px;
}
100%    {
    margin-left: -2125px;
}
}

@-webkit-keyframes bannermove {
0%    {
    margin-left: 0px;
}
100%    {
    margin-left: -2125px;
}
}

@-ms-keyframes bannermove {
0%    {
    margin-left: 0px;
}
100%    {
    margin-left: -2125px;
}
}

@-o-keyframes bannermove {
0%    {
    margin-left: 0px;
}
100%    {
    margin-left: -2125px;
}
}

/******************* Messages *****************/

#user1msg {
    background-color: lightblue;
    width: 80%;
    float: right;
    padding: 5px;
    margin: 10px; 
}

#user2msg {
    background-color: limegreen;
    width: 80%;
    float: left;
    padding: 5px;
    margin: 10px; 
}

#user1 {
    width: 5%;
    padding-left: 20px;
}

#user2 {
    width: 5%;
    padding-left: 20px;
}

/********** Search / View Connections **********/

#user1profile {
    background-color:lightgray;
    float: left;
    margin: 10px; 
    width: 99%;
}

#user2profile {
    background-color:lightslategray;
    float: left;
    margin: 10px; 
    width: 99%;
}

/**************** Add Tips Form ***************/

.addtips {
    float: left;
    width: 96%;
    padding: 15px;
    margin: 15px;
}

/***************** Review Page ***************/

#review1 {
    background-color:lightgray;
    float: left;
    margin: 10px; 
    width: 99%;
}

#review2 {
    background-color:lightslategray;
    float: left;
    margin: 10px; 
    width: 99%;
}

